.container{
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 33rem;
}

.img{
  background: darkgray;
  height: 190px;
  width: 190px;
  border-radius: 100%;
  margin: 0.5rem;
  display: block;
}

.info{
  display: inline;

  h2, h3{
    margin: 0.4rem 0;
    font-weight: normal;

    strong{
      font-weight: bolder;
    }

    a{
      text-decoration: none;
    }
  }
}
